<% action = (post.persisted? ? post_url(post) : posts_url) %>
<% method = (post.persisted? ? :patch : :post) %>

<form  action="<%= action %>" method="post">

  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= method %>">


  <label for="title">Title</label><br>
  <input id="title" type="text" name="post[title]" value="<%= post.title %>"><br>

  <label for="url">URL</label><br>
  <input id="url" type="text" name="post[url]" value="<%= post.url %>"><br>

  <label>Content<br>
  <textarea name="post[content]"><%=post.content %></textarea>
  </label>

  <!-- check_box(object_name, method, options = {}, checked_value = "1", unchecked_value = "0") -->
    <input type="hidden" name="post[sub_ids][]" value="">
  <ul>
    <% Sub.all.each do |sub| %>
    <li>
      <label>
        <input type="checkbox"
               name="post[sub_ids][]"
               value="<%= sub.id %>"
               <%= "checked" if @post.sub_ids.include?(sub.id) %>>
      <%= sub.title %> </label>
    </li>
    <% end %>
  </ul>

  <input type="submit" value="Submit">

</form>
